<div class="topic-index-wrapper">
  <div class="container">
  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= @comment.user.name %>
            </h2>
            
            <p class="topic-text">
              <%= @comment.comment %>
            </p>
            
            
            <%= link_to "編集", edit_comment_path(@comment) %>
            <%= link_to "削除", comment_path(@comment), method: :delete %>
            
          
              
          </div>
        </div>
      </div>
    
  </div>
</div>