<h1>3/18からの学習記録<h1>
  <h2>3/18の流れ</h2>
    <h3>cloud9練習用のstudyアプリを消去→$rm -rf studyからの$rake db:drop(このrakeとはなんぞや。さきにrails db:dropやっときゃよかった)。</h3>
    <h3>gitに登録。routesの書き方とページの表示および追加は問題ない。topページはroot '~#~'普通のはget '~/~'で書くと=>より省略できる</h3>
    <h3>gem 'bootstrap-sass'追加 ＜％＝％＞＜％％＞はhtmlにrubyを埋め込むOK。これを使えるのはerb拡張子のみなの注意</h3>
      <p>
        相変わらずどこが分からないのか分かっていない。絞り込めないのがかなり辛い。一番つらいのは何をやっても自信になってくれないところだが、とりあえずユーザー登録関連が怪しいと見える
      </p>
      <p>
        どうせ一回作っているしバンバン作るが好し。じゃないとわからん
      </p>
      <p>
        bootstrap…レスポンシブデザイン　インストールしたBootstrapのCSSとJavaScriptを読み込む変更が必要。Gemはrailsのものではなく、rubyのもの？
      </p>
      <p>
        gemの使い方は後回し。bootstrap導入時に変更するファイル名だのの場所は随時調べればよし
      </p>
        <h4>疑問　rake　rgba(0,0,0,0.0)　%:hoverとなぜ入れ子？</h4>  
        <h4>ANSEWER: Rakeとは Rubyで記述されたビルドツール（コンパイラー？）rgba RGBAカラーモデルは、RGBカラーモデルのred・green・blueに、alphaが加わったもの</h4>
        <h4>hover 疑似クラスは、ユーザーがポインティングデバイスで要素に反応したものの、アクティブ化する必要がないものを選択</h4>
        
        <h2>3/19の流れ</h2>
    <h3>ユーザー登録関連：ユーザー情報を扱う専用のControllerを作成。DB確認$rails db。rails cでsuperclass検索（ApplicationRecord.superclass)</h3>
    <h3>ユーザ登録PAGE表示の際、viewにform_for @user。ページを表示できるようにするにはコントローラに@user=User.newいれとけば表示はできると</h3>
    <h3>思ってたが、どうやら違う。フォームを表示→この時点で@userの中身が空だから、submitで自動でcreateに→createアクションがない→エラー（表示できない）</h3>
      <p>
        
      </p>
      <p>
        
      </p>
      <p>
        
      </p>
      <p>
        
      </p>
        <h4></h4>  
        
        
        
        <h6>命名規則　controller:複数 model:単数</h6>
        
      <!--  <h2>3/19の流れ</h2>
    <h3></h3>
    <h3></h3>
    <h3></h3>
      <p>
        
      </p>
      <p>
        
      </p>
      <p>
        
      </p>
      <p>
        
      </p>
        <h4></h4> -->  